- log_object_partial '/users/form_password'

.block
  .title= 'Password'
  .content
    %table
      = RDisplay.row('New Password',f.password_field(:password))
      = RDisplay.row('Confirm Password',f.password_field(:password_confirmation))
